<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관리자</title>
</head>

<body>
<h3>공공데이터요청</h3>
<hr>
<table>

  <thead>
  <tr>
    <th>항목1</th>
    <th>항목2</th>
    <th>항목3</th>
  </tr>
  </thead>
  <tbody id="apiList">

  </tbody>
</table>
<div>
  <button id="pubEventRequestBtn" type="button">요청</button>
  <button id="allBtn" type="button">목록</button>
</div>
<script>
        allBtn.addEventListener('click', e => {
            location.href = `/admin/posts/all`;
        });

        pubEventRequestBtn.addEventListener('click', e => {

            const xhr = new XMLHttpRequest();
            const method = 'GET';
            const url = 'http://localhost:9080/api/pub/json';
            // const url = 'http://localhost:9080/api/pub/xml';
            xhr.open(method, url);  //request 요청 초기화
            // xhr.send(null);             //request 요청 전송
            xhr.send();             //request 요청 전송
            document.getElementById('apiList').textContent = '가져오기중...';

            const async_h = (evt)=> {
            if(xhr.readyState === XMLHttpRequest.DONE){
                const status = xhr.status;
                // console.log(xhr.status);
                if(status === 0 || (status >= 200 && status < 400)){
                    // 요청 성공
                    // console.log(xhr);
                    console.log('resposeText : ', xhr.responseText);
                    // JSON.Object.json = XML.toJSONObject(xhr.responseText);
                    // xml => json 문자열 => js 객체
                    jsObj = JSON.parse(xhr?.responseText);
                    console.log(jsObj);
                    const getListItem = item => {
                        return `<tr><td>${item.prfnm}</td><td>${item.prfpdfrom}</td><td>${item.prfpdto}</td></tr>`;
                    };
                    const html = jsObj.map(item => getListItem(item)).join('');
                    document.getElementById('apiList').innerHTML = html;
                }
                else {
                // 요청 실패
                console.log('실패');
                }
            }
        }
        xhr.addEventListener('readystatechange', async_h);
        // xhr.addEventListener('load', async_h);
    });
    </script>
</body>
</html>