<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="footerFragment">
  <footer id="footer">
    <div class="footer__upper">
      <p class="left"><a href="#">개인정보처리방침</a></p>
      <p class="right">
      <li><a href="#"><i class="fa-brands fa-facebook-square"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitter-square"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
      </p>
    </div>
    <div class="footer__lower">(44677)울산 남구 삼산로 35번길 19 | 프로젝트 : 울산 한마당 Copyright @ All rights reserved.</div>
  </footer>
</th:block>
</html>