<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공연전시</title>
  <style>
    table tbody tr td {
    font-size: 0.6rem;
    text-align: center;
    }
    .odd_row__color {
    background-color: rgb(206, 206, 206);
    }
  </style>

</head>

<body>
<div class="review_wrap">
  <h3>공연전시</h3>
  <hr>
  <div id="imageFiles" th:if="${list}">
    <th:block th:each="event : ${list}">

        <img width="100px" src="http://localhost:9080/attach/img/P0102/82335ef9-18d7-4509-b3d4-df57d8d50a48.jpg"
             th:if="${event.poster}" th:src="${event.poster}"
             alt="이미지를 불러올수 없습니다">


    </th:block>
  </div>
  <hr>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>공연명</th>
      <th>시작일</th>
      <th>마감일</th>
      <th>공연장</th>
      <!--    <th>출연진</th>-->
<!--      <th>런타임</th>-->
<!--      <th>연령</th>-->
<!--      <th>가격</th>-->
<!--      <th>장르</th>-->
<!--      <th>상태</th>-->
<!--      <th>공연시간</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${list}" th:class="${eventStat.odd} ? odd_row__color">
      <td th:text="${event.eventId}">1</td>
      <td><a href="/events/21" th:href="@{/events/{pid}(pid=${event.eventId})}"  th:text="${event.prfnm}">이봐 김서방</a></td>
      <td th:text="${event.prfpdfrom}">2022.09.24</td>
      <td th:text="${event.prfpdto}">2022.09.25</td>
      <td th:text="${event.fcltynm}">10000</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <div><button id="addBtn">등록</button></div>
</div>
</div>
<script>
    addBtn.addEventListener('click',e=>{
      location.href = '/events/add';
    });
  </script>
</body>
</html>