<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>울산한마당</title>
  <style>
    img {
      width: 120px;
      height: 180px;
    }
  </style>
</head>

<body>
<h3>울산한마당</h3>
<hr>
<div>
  <img th:each="" src="http://www.kopis.or.kr/upload/pfmPoster/PF_PF197000_220825_134645.jpg" alt="">
</div>
</body>
</html>